@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

html {
    box-sizing: border-box;
}

body{
    background-color:#27264B ;
    font-family: 'Josefin Sans', sans-serif;
}

.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.prod-row{
    width: 100%;
    height: 100%;
    max-width: 78%;
    max-height: 78%;
    background-color: #F8FAFE;
    border-radius: 10px;
    box-shadow: 0 0 20px 3px #4A4969;
}

.prod{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prod1{
    width: 84%;
    height: 80%;
    background-color: #D8D9E2 ;
    border-radius: 5px;
}

.prod2{
    width: 84%;
    height: 80%;
    background-color: #D8D9E2 ;
    border-radius: 5px;
}

.prod3{
    width: 84%;
    height: 80%;
    background-color: #D8D9E2 ;
    border-radius: 5px;
}

.prod4{
    width: 84%;
    height: 80%;
    background-color: #D8D9E2 ;
    border-radius: 5px ;
}

.free {
    margin: 10 auto;
    background-image: linear-gradient(to right , #FFBCCD , #FFCB70 ) ;
    border-radius: 5px;
    text-align: center;
    border: 0px solid red;
    max-width: 90%;
    font-family: 'Nunito' !important;
}

.free p {
    margin: 0;
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.lite {
    margin: 10 auto;
    background-image: linear-gradient(to right , #C3D1FF , #B473FE ) ;
    border-radius: 5px;
    text-align: center;
    border: 0px solid red;
    max-width: 90%;
    font-family: 'Nunito' !important;
}

.lite p {
    margin: 0;
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.pro {
    margin: 10 auto;
    background-image: linear-gradient(to right , #B473FE , #C3D1FF ) ;
    border-radius: 5px;
    text-align: center;
    border: 0px solid red;
    max-width: 90%;
    font-family: 'Nunito' !important;
}

.pro p {
    margin: 0;
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.enter {
    margin: 10 auto;
    background-image: linear-gradient(to right , #FFCB70 , #FFBCCD ) ;
    border-radius: 5px;
    text-align: center;
    border: 0px solid red;
    max-width: 90%;
    font-family: 'Nunito' !important;
}

.enter p {
    margin: 0;
    padding: 20px 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    text-align: center;
}

.span-price {
    font-size: 50px;
}

.month{
    font-size: 20px;
}

.price{
    margin-top: 50px;
    margin-bottom: 0px;
}

.description {
    margin: 0;
    text-align: center;
    font-weight: 700;
}


.full-decs{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 80%;
}

.btn{
    display: flex;
}

button{
    padding: 20px 80px;
    border: none;
    margin: 0 auto;
    margin-top: 50px !important;
}

button:nth-child(2),button:nth-child(2){
    background-color: blue;

}